{% extends 'index.html' %}

{% block content %}
        
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Documento</th>
        <th scope="col">Email/Correo</th>
        <th scope="col">Direccion</th>
        <th scope="col">Nacimiento</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">

    {% for user in familiares %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.nombre}}</td>
            <td>{{ user.apellido }}</td>
            <td>{{ user.documento }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.direccion }}</td>
            <td>{{ user.fecha_nacimiento }}</td>
        </tr>
    {% endfor %}
    
    
    </tbody>
</table>
{% endblock %}